<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bernerslee</title>
</head>
<body>
    <h1 style="color: deepskyblue;">Tim Bernerslee</h1>

    <img src="/img/Tim-Berners.jpg" alt="">

    <h2>Mas conocido como el Padre del Internet</h2>

    <h4>Un poco sobre el:</h4>

    <p>Este personaje nace en Londres, Reino Unido, exactamente el día 8 de junio del año 1955; actualmente tiene 55 años de edad y reside en Concord. Por otra parte, este individuo se conoce por ser un genio en la computación británica y también fundador del World Wide Web.</p>

    <p>Tim Berners-Lee fue la primera persona en establecer comunicación entre un cliente y un servidor; para ello utilizo el protocolo que hoy en día se encuentra antes del WWW, conocido como HTTP.</p>

    <p>Por otra parte, este no fue el único proyecto que desarrolló Berners, ya que también participo en la creación de los principios fundamentales para crear la web. Berners tuvo participación en un grupo que desarrollo uno de los lenguajes de programación más utilizados en la actualidad, el cual se conoce como el HTML o HyperText Markup Language. Además del protocolo HTTP, el cual se conoce como un protocolo de lenguaje de etiquetas.</p>

    <p>Cabe destacar que, gracias a este grupo de usuarios el Internet existe, ya que han creado los principios necesarios para desarrollalo. Además, a estas invenciones también se le suma la creación de la URL, que tiene por objetivo dar acceso o localizar todos los objetos de Internet.</p>

    <h4>Muchas gracias por ver todo el TP!</h4>

    <H5>Click para volver al home:</H5>

    <a href="/">home</a>


</body>
</html>