<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>
<body>
    <h1 style="color: darkmagenta;">Grace Hopper</h1>

    <img src="/img/Grace-Hopper.jpg" alt="">

    <h3>Un poco sobre ella</h3>

    <p>Grace Hopper fue integrante de la Armada de Estados Unidos y una reconocida matemática especialista en informática. Fue la precursora del lenguaje COBOL, un compilador que fue clave en el desarrollo de la computación moderna.

    Gracias a este sistema se lograron acelerar los tiempos y mejorar el desempeño en programación. Sin ese invento, el lenguaje sería siendo una sucesión interminable de unos y ceros. Así, por ejemplo, para instalar Windows se requerirían 20 gigabytes espacio en el harddrive y se tardaría 5.000 años en completar la tarea.</p>

    <p>También conocida como Grace, la asombrosa (Amazing Grace), por su gran capacidad, logró vencer numerosas barreras. Contra todos los prejuicios de la época, que buscaban confinar a la mujer exclusivamente a las tareas del hogar, ella estudió y fue una investigadora destacada en computación.

    Grace nació en Nueva York, en 1906. Era bisnieta de Alexander Russell, un almirante de la Armada de los Estados Unidos, a quien le siguió los pasos cuando decidió unirse a la Armada.
        
    Su amor por los números también le corrían en la sangre por herencia: era nieta del ingeniero civil, John Van Horne. Desde pequeña se mostró muy interesada en las matemáticas y las ciencias.</p>

    <p>Siempre recibió el apoyo de su abuelo y padre, Walter Fletcher Murray así como el de su madre Mary Campbell Van Horne, que la incentivaron para que incursionara el mundo del conocimiento sin tapujos.

    Entre 1924 y 1928 estudió física y matemática en el Vassar College en Nueva York, donde se graduó con honores.</p>

    <p>Después obtuvo una beca para hacer una maestría en matemática en Yale, que finalizó en 1930. En ese mismo año se casó con Vincent Foster Hopper, doctor en literatura inglesa, de quien se divorció en 1945.

    Luego, continúo sus estudios en Yale hasta doctorarse en matemática en 1934. Nueve años después y en plena Segunda Guerra Mundial se unió a las fuerzas armadas, para lo cual tuvo que obtener un permiso especial.
        
    Estuvo en Harvard donde trabajó para un proyecto de computación para la construcción del Mark I, la primera computadora electromecánico, construida en IBM.</p>

    <p>Tenía 760 mil ruedas y 800 kilómetros de cable y se basaba en la máquina analítica de Charles Babbage. Para programar había que emplear interruptores y se leían los datos de cintas de papel perforado.

    Permaneció en Harvard hasta 1949, cuando empezó a trabajar en la Eckert-Mauchly Corporation en Filadelfia, que en ese entonces estaba desarrollando las computadoras BINAC y UNIVAC I.
        
    Fue durante su desempeño en esa empresa, donde permaneció hasta 1971, cuando desarrolló el primer compilador de la historia: el A-0. El verdadero punto de inflexión fue en 1957, cuando realizó el primer compilador para procesamiento de datos que usaba órdenes en inglés, el B-0 (Flow Matic).</p>

    <p>Esos fueron los cimientos para el posterior desarrollo de COBOL, en 1959. Hopper pensó que se podría crear un lenguaje de programación que entendiera órdenes en inglés y que sirviera para aplicaciones de negocios.

    Flow Matic fue una influencia importante para lo que fue el primer lenguaje en generar una "interfaz amigable" para los programadores.
        
    Hasta ese entonces las máquinas eran monstruos gigantes y complejos de operar, como la Mark I que tenía 15 metros de largo, 2,5 metros de interruptores y empleaba más de 850 mil kilómetros de cables.
        
    Para resolver una ecuación había que saber qué interruptores prender o apagar y qué cables debían estar conectados en tal o cual sitio. En este contexto, programar se convertía en una tarea titánica que solo unos pocos sabían hacer y que, por ser una tarea repetitiva y dificultosa, era muy posible cometer errores.</p>

    <p>Hopper, con su lenguaje de programación universal y simplificado allanó el mundo de la programación. De alguna manera llevó el fuego prometeico del conocimiento en computación a la gente y su creación fue piedra angular para el posterior desarrollo de computadoras más pequeñas.

    Hopper falleció a los 85 años, mientras dormía. Fue el 1 de enero de 1992 en su casa de Arlington, Virgina. Esta mujer, que marcó un antes y un después en la computación no pasó desapercibida por la historia.</p>

    <h4>Continuar:</h4>

    <a href="/lovelace">Lovelace</a>





</body>
</html>