<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
</head>
<body>
    
    <h1 style="color: cadetblue;">Bienvenido a el Trabajo de DH Heroes</h1>

    <img src="/img/welcome1.png" alt="">

    <h2>Información:</h2>

    <p>A continuación encontrarán información de las Heroínas y los Héroes Tecnológicos más representativos del ámbito de la programación.</p>

    <h3>Trabajo realizado por:</h3>

    <p>Ludmila Mansilla</p>

    <h3>Para continuar y ver pulsa click en la siguiente palabra destacada:</h3>

    <a href="/babbage">Sobre babbage</a>

</body>
</html>