<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace</title>
</head>
<body>
    <h1 style="color: darkred;">Ada Lovelace</h1>

    <img src="/img/Ada_Lovelace_portrait_1.format-jpeg.jpg" alt="">

    <h2>Primer programador en la historia</h2>

    <p>Augusta Ada King (1815-1852), conocida habitualmente como Ada Lovelace, fue una matemática británica. Es considerada como la primera programadora, desde que escribió la manipulación de los símbolos, de acuerdo a las normas para una máquina de Charles Babbage que aún no habí­a sido construida.</p>

    <p>Ella dedujo y previó la capacidad de los ordenadores para ir más allá de los simples cálculos de números, mientras que otros, incluido el propio Babbage, se centraron únicamente en estas capacidades.</p>

    <p>Ada conoció a Mary Somerville, una conocida autora y científica del siglo XIX que le presentó a Charles Babbage (profesor Lucasiano de matemáticas en la Universidad de Cambridge y padre de las computadoras) el 5 de junio de 1833, cuando ella sólo tenía 17 años.</p>

    <p>De inmediato comenzó una voluminosa correspondencia entre ambos sobre temas relacionados con las matemáticas, la lógica, y en última instancia, todas las materias. Charles Baggage quedó tan impresionado con la capacidad analítica de la joven Ada que la apodó como “La encantadora de números“.</p>

    <h3>La máquina analítica</h3>
      
    <p>En 1834, Babbage tenía planes para la construcción de un nuevo tipo de máquina de cálculo, una máquina analítica de carácter general. La máquina analítica es el diseño de una computadora moderna de uso general que representó un importante paso adelante en la historia de la computación.</p>

    <p>En 1842 el matemático italiano Louis Menebrea, publicó una memoria en francés sobre la Máquina Analítica. Babbage alistó a Ada como traductora de la memoria en francés para adaptarla al inglés, trabajo que realizó durante nueve meses entre 1842 y 1843. Ada no solo tradujo el artículo, sino que le añadió un conjunto de notas más voluminoso que la memoria en sí. Esas notas son la fuente de su fama como primera programadora de la historia.</p>

    <p>Ada fue la primera persona en el mundo que describió un lenguaje de programación de carácter general al interpretar las ideas de Babbage incluso mejor que él mismo. En 1843 publicó una serie de notas sobre su máquina analítica, que firmó sólo con sus iniciales por miedo a ser censurada por su condición de mujer. Describió conceptos como el bucle y la subrutina. Solía definirse a sí misma como analista y metafísica, algo bastante más avanzado para su época que el pensamiento de sus primitivos congéneres.</p>

    <p>Ada escribió un completo plan donde se describe el algoritmo necesario que permita calcular los valores de los números de Bernoulli utilizando dos bucles, demostrando las capacidades de bifurcación de la máquina analítica, describió cómo realizar operaciones trigonométricas que hacían uso de variables y también definió el uso de tarjetas perforadas para programar la máquina de Babbage. Este invento, que nunca se construyó, fue el antecedente del ordenador moderno.</p>

    <p>Lady Ada Lovelace fue otro de los grandes genios que por una causa u otra han muerto de forma prematura, privando al mundo de sus capacidades y sabiduría. Ada ha sido recordada a lo largo de la historia y se ha intentado galardonar de alguna manera su legado.</p>

    <p>En 1979, el Departamento de Defensa de los Estados Unidos reconoció los aportes de esta joven inglesa y creó un lenguaje de programación en su honor llamado Ada. En 2010 Bruce Beresford dirigió la película titulada Enchantress of Numbers. que trata sobre la vida de Lady Ada Lovelace.</p>

    <p>Su padre fue el conocido poeta Lord Byron.

    Ada Lovelace, junto con otras mujeres pioneras en el mundo de la ciencia y la tecnología, han transformado el rumbo de la historia como la conocemos.</p>

    <h4>Continuar:</h4>

    <a href="/turing">Turing</a>

</body>
</html>