<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
</head>
<body>
    <h1 style="color: darksalmon;">Alan Turing</h1>

    <img src="/img/alan-turing-blog.jpg" alt="">

    <h3>HISTORIA DE LA PROGRAMACIÓN, ALAN TURING.</h3>

    <p>El ser humano siempre ha necesitado diversos medios para procesar la información o realizar cálculos. Cálculos que se han ido volviendo más y más complejos, e información que ha ido aumentando. Las necesidades del ser humano exigían evolucionar, y por eso,  pasamos de contar con los dedos, a inventar el ábaco. Después vino la calculadora, hasta llegar al ordenador actual y la programación. Nos costó lo nuestro, pero aquí estamos, evolucionando. Hoy vamos a hablar de la historia de la programación.</p>

    <p>Aunque los primeros ordenadores surgieron ante la necesidad de realizar grandes cálculos (imposibles de realizar por la mente humana), resultó que se podían utilizar y que ayudaban a solucionar problemas en otros ámbitos, no solo científicos.</p>

    <p>Así, el ordenador se convierte, no solo en un dispositivo, sino en una herramienta con un alcance y difusión tan grandes que influye en la forma de pensar y actuar. En las pautas de conocimiento. Incluso en el desarrollo social. La evolución de los ordenadores, la programación y la informática ejercen un significativo efecto social, de ahí su importancia.</p>

    <p>La evolución de los ordenadores es larga y abarca desde 1936, cuando Honrad Zuse creó el que se considera el primer ordenador, hasta nuestros días.</p>

    <p>En sus inicios, los ordenadores y la informática facilitaban los trabajos repetitivos y monótonos. Esta automatización de algunos procesos trajo como consecuencia una disminución de los costes y un incremento de la productividad.</p>

    <p>Las empresas no tardaron en descubrir los posibles beneficios y oportunidades que ofrecen los ordenadores. Esto provocó que en los siguientes años, inventores de todo el mundo empezaran a investigar el mundo de los ordenadores y como mejorarlos. Buscando, principalmente, construir ordenadores más pequeños y rápidos.</p>

    <p>En 1953, IBM fabricaba su primera computadora a escala industrial convirtiéndose en una compañía clave en la historia del ordenador y en el desarrollo de nuevos sistemas.</p>

    <p>A partir de aquí, empieza lo divertido. Llega internet, los ordenadores interconectados, el acceso del público, etc. Así que antes de meternos en los intrincados nudos de la historia y arriesgarnos a que Morfeo nos secuestre, vamos a hacer un descanso y a conocer a un personaje histórico digno de ser mencionado: Alan Turing.

    Alan Turing (1912-1954) fue un brillante matemático y criptoanalista que formalizó los conceptos de “algoritmo” y “computación” haciéndose un hueco en la historia de la programación.
        
    También participó activamente en la lucha contra “enigma”, máquina usada para enviar mensajes cifrados por la Alemania  Nazi, lo cual supuso un gran avance en la victoria de los aliados.
        
    Además, también es considerado el padre de la inteligencia artificial. En 1950 abordó la problemática de la inteligencia artificial y propuso el experimento que hoy en día conocemos como “Test de Turing”, el cual trata de definir los estándares para saber si una máquina puede ser llamada “inteligente”.
        
    Con toda esta información, cualquiera pensaría que fue un hombre reconocido y de gran éxito, ¿verdad? Hubiera sido lo suyo. Sin embargo, Turing pasó a engrosar la lista de genios incomprendidos, perseguidos o ignorados.
        
    Alan Turing murió a la edad de 41 años. Según el examen post-morten, la causa de su muerte fue de envenenamiento por cianuro ingerido al comer parte de una manzana. Los rumores cuentan que ese es el motivo por el cual Steve Jobs eligió la manzana mordida como logotipo de Apple. Solo son rumores, pero sería un detalle bonito ¿verdad? Lo que sí es seguro es que la humanidad perdió mucho con su muerte prematura.</p>

    <h4>Continuar:</h4>

    <a href="/bernerslee">Bernerslee</a>

</body>
</html>